.main {
    grid-area: main;
}

.anime {
    min-width: 100%;
    max-height: 25vh;
}

.mainInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.infoLogo {
    margin-right: 30px;
}

.infoLogo img {
    display: block;
    max-width: 250px;
    max-height: 100%;
}

.infoText h4 {
    margin-bottom: 30px;
}

.infoText h3 {
    font-size: 24px;
    font-weight: 700;
}

.infoText h4:last-child {
    margin-bottom: 0;
}

.mainPost {
    margin-top: 20px;
    font-size: 24px;
    color: rgba(24, 23, 23, 0.792);
    position: relative;
}

.mainPost div:first-child {
    margin-bottom: 10px;
}

.postInp {
    background-color: rgb(220, 216, 216);
    width: 70vw;
    display: block;
    height: 5vh;
    border: 0;
    outline: 0;
    margin-bottom: 30px;
}

.postInp:focus::-webkit-input-placeholder {
    color: transparent;
}

.postInp:focus::-moz-placeholder {
    color: transparent;
}

.postInp:focus:-moz-placeholde {
    color: transparent;
}

.postInp:focus:-ms-input-placeholder {
    color: transparent;
}

.postSend {
    background-color: #32a33d;
    padding: 5px 15px;
    border: 0;
    align-items: center;
    position: absolute;
    right: 213px;
    top: 141px;
    color: #fff;
    cursor: pointer;
}

.posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 70vw;
    border-bottom: 1px solid rgb(120, 120, 120);
}


.profilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 30px;
}

.postsText {
    margin: 0;
    padding: 0;
}