.friend {
    text-align: center;
}

.friendImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
}

.friendName {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 0;
    font-style: italic;
}